{% extends 'convertapp/main.html' %}
{% load static %}
{% block content %}

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'index' %}"><img class="brandImg" src="{% static 'image/brandImg.jpg' %}" alt=""><span class="text-primary">Stuffs.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                
                
                <li><a href="https://sitblog.herokuapp.com/" class="nav-link">Blog</a></li>
                <li><a href="https://sitblog.herokuapp.com/contact/" class="nav-link">Contact</a></li>
                <li class="social"><a href="https://github.com/Davidcode-png" class="nav-link"><span class="icon-github"></span></a></li>
                <li class="social"><a href="https://www.linkedin.com/in/opeoluwa-ojewale-9921a0207/" class="nav-link"><span class="icon-linkedin"></span></a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

    <section>
      <br />
      <br />
      
      <br />
      <br />

        <h1 class='display-1 mx-2'>Convert Stuffs to Stuffs</h1>
        <br />
        
        <div class="container mt-5">
          <div class="row">
              <div class="col-md-4">
                  <div class="card p-3">
                      <div class="d-flex flex-row mb-3"><img src="{% static 'fileimg/pdftoword.svg' %}" width="70">
                          <div class="d-flex flex-column ml-2"><span>PDF</span><span class="text-black-50">to Word</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6>Convert your PDF files to Word</h6>
                      <div class="d-flex justify-content-between install mt-3"><span></span> <a href="{% url 'ptd' %}"> <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card p-3">
                      <div class="d-flex flex-row mb-3"><img src="{% static 'fileimg/wordtoimg.svg' %}" width="70">
                          <div class="d-flex flex-column ml-2"><span>Word</span><span class="text-black-50">to JPG</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6>Convert your Word Documents to Images.</h6>
                      <div class="d-flex justify-content-between install mt-3"><span></span> <a href="{% url 'dti' %}"> <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card p-3">
                      <div class="d-flex flex-row mb-3"><img src="{% static 'fileimg/pdftoimg.svg' %}" width="70">
                          <div class="d-flex flex-column ml-2"><span>PDF</span><span class="text-black-50">to JPG</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6>Convert your PDF files to Images</h6>
                      <div class="d-flex justify-content-between install mt-3"><span></span> <a href="{% url 'pti' %}"> <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card p-3">
                      <div class="d-flex flex-row mb-3"><img src="{% static 'fileimg/wordtopdf.svg' %}" width="70">
                          <div class="d-flex flex-column ml-2"><span>Word</span><span class="text-black-50">to PDF</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6>Convert your Word documents into PDF</h6>
                      <div class="d-flex justify-content-between install mt-3"><span></span> <a href="{% url 'dtp' %}"> <span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card p-3">
                      <div class="d-flex flex-row mb-3"><img src="{% static 'fileimg/imgtoword.svg' %}" width="70">
                          <div class="d-flex flex-column ml-2"><span>JPG</span><span class="text-black-50">to Word</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6>Convert your Images to Word Documents</h6>
                      <div class="d-flex justify-content-between install mt-3"><span></span><a href="{% url 'itd' %}"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></a></div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card p-3">
                      <div class="d-flex flex-row mb-3"><img src="{% static 'fileimg/imgtopdf.svg' %}" width="70">
                          <div class="d-flex flex-column ml-2"><span>JPG</span><span class="text-black-50">to PDF</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                      </div>
                      <h6>Convert your Images to PDF</h6>
                      <div class="d-flex justify-content-between install mt-3"><span></span><a href="{% url 'itp' %}"><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></a></div>
                  </div>
              </div>
          </div>
      </div>
        

    </section>
    {% endblock content %}