{% extends 'convertapp/main.html' %}
{% load static %}
{% block content %}

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'index' %}"><img class="brandImg" src="{% static 'image/brandImg.jpg' %}" alt=""><span class="text-primary">Stuffs.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li class="has-children">
                  <a href="#about-section" class="nav-link">About Us</a>
                  <ul class="dropdown">
                    <li><a href="#team-section" class="nav-link">Team</a></li>
                    <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                    <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                    <li><a href="#gallery-section" class="nav-link">Gallery</a></li>
                    <li><a href="#services-section" class="nav-link">Services</a></li>
                    <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                    <li class="has-children">
                      <a href="#">More Links</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                
                
                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                <li class="social"><a href="https://github.com/Davidcode-png" class="nav-link"><span class="icon-github"></span></a></li>
                <li class="social"><a href="https://www.linkedin.com/in/opeoluwa-ojewale-9921a0207/" class="nav-link"><span class="icon-linkedin"></span></a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

    {% comment %} <div class="hero"></div> {% endcomment %}
    <section>
      <br />
      <br />
      
      <br />
      <br />

        <h1 class='display-1'>Convert Stuffs to Stuffs</h1>
        <br />

        <div class ='container-fluid main-section text-center'>
          <div class='row'>
            <div class='col-3 col-sm-6'>
              <img src="{% static 'fileimg/pdftoword.svg' %}" alt="">
              <h3>Convert pdf to word --- <a href="{% url 'ptd' %}">Here</a> </h3>
              <br />
            </div>
            <div class='col-3 col-sm-6'>
              <img src="{% static 'fileimg/pdftoimg.svg' %}" alt="">
              <h3>Convert pdf to image --- <a href="{% url 'pti' %}">Here</a> </h3>
            <br />
            </div>
            <div class= 'col-3 col-sm-6'>
            <img src="{% static 'fileimg/wordtopdf.svg' %}" alt="">
            <h3>Convert word to pdf --- <a href="{% url 'dtp' %}">Here</a> </h3>
            <br />
            </div>
            <div class="w-100"></div>

            <div class='col-3'>
            <img src="{% static 'fileimg/wordtoimg.svg' %}" alt="">
            <h3>Convert word to image --- <a href="{% url 'dti' %}">Here</a> </h3>
            <br />
            </div>
            <div class='col-3'>
              <img src="{% static 'fileimg/imgtoword.svg' %}" alt="">
            <h3>Convert image to word --- <a href="{% url 'itd' %}">Here</a> </h3>
            <br />
            </div>
            <div class='col-3'>
              <img src="{% static 'fileimg/imgtopdf.svg' %}" alt="">

            <h3>Convert image to pdf --- <a href="{% url 'itp' %}">Here</a> </h3>
            </div>
          </div>
        </div> 
        
    </section>
    {% endblock content %}